.form {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #566c50, #343323 65%);
  z-index: 100;
}

.title {
  text-align: center;
}

.input {
  width: 300px;
  height: 40px;
}
