.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000075;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 300px 15px;
  width: 70%;
  background-color: rgb(44 53 46 / 90%);
  // box-shadow: 0px 2px 12px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 12px 3px rgba(246,247,239,1);

  & a {
    // text-decoration: none;
    color: antiquewhite;
  }
}
